.banners {
  background: rgb(255, 255, 255);
  .section-inner {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .img1 {
    display: flex;
    justify-content: center;
    margin: 1rem;
    div {
      display: flex;
      justify-content: center;
    }
  }
  @media (max-width: 1068px) {
    .section-inner {
      flex-wrap: wrap;
    }
    .img1 {
      margin: 2px;
    }
  }
}
