.banners {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    185deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(86, 88, 221, 1) 100%
  );
  .section-inner {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .img1 {
    display: flex;
    justify-content: center;
    margin: 1rem;
    div {
      display: flex;
      justify-content: center;
    }
  }
  @media (max-width: 1068px) {
    .section-inner {
      flex-wrap: wrap;
    }
    .img1 {
      margin: 2px;
    }
  }
}
