.contactform{
    background-image: url(https://img.freepik.com/free-vector/science-scribbles_23-2147501583.jpg?w=740&t=st=1683538158~exp=1683538758~hmac=34435fa…);
    box-shadow: inset 0 0 0 1000px rgb(255 255 255 / 85%);
    h1{
        margin: 0px;
        margin-bottom: 12px;
        font-size: 32px;
        color: #5658dd;
    }
    p{
        font-size: 16px;
        color: darkgrey !important;
        margin-bottom: 12px;
    }
    .contactformdiv{
        display: flex;
    }
    .courseimg{
        display: flex;
        justify-content: center;
        img{
            width: 400px;
            margin: 10px;
        }
    }
    .contactforminner{
        display: flex;

    }
    .inputform{
        margin-bottom: 10px !important;
    }
    .formsection{
        border: 1px solid darkgray;
        border-radius: 8px;
        padding: 10px;
        background-color: white;
        box-shadow: 2px 2px 2px darkgray;
    }
    .privacytext{
        font-size: 15px;
    }
    @media screen and (max-width: 1024px) {
        .contactforminner{
            flex-direction: column;
        }
        h1{
            font-size: 24px;
        }
        p{
            font-size: 13px;

        }
    }
}