.quarkEvent  {
    padding: 20px;
    img {
    max-width: 100%;
    margin-top: 102px !important;
    border: 2px solid black;
  }
}

.quarkEvent  {
    padding: 20px;
    .mobilequarkbanner{
        display: none;
    }
    .mobilequarkbanner{
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .quarkEvent  {
        padding: 20px;
        .fullquarkbanner{
            display: block;
        }
        .mobilequarkbanner{
            display: none;
        }
    }
}
  