.mb-32 {
  margin-bottom: 32px !important;
}
.hero-content2 h1 {
  color: black;
}
.container-xs p {
  color: black;
  font-size: 24px;
}
.hero-content2 .subheader {
  font-size: 22px;
  line-height: 35px;
  color: black;
  font-weight: 400;
  text-shadow:  1px 1px lightgray;
}
.site-header .container {
  max-width: 90% !important;
}
.site-header .container .highlightedCourse {
  background-color: white;
  color: #5658dd;
  font-weight: bold;
  border: 1px solid #5658dd;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  font-size: 15px;
}
.split-item-content h4 {
  color: black;
}
.featureTag img {
  width: auto !important;
  height: 400px !important;
}

.split-item-content p {
  color: dimgrey !important;
  text-align: left;
}
.split-item-content h4 {
  text-align: left;
}
.split-item {
  /* border: 0.5px solid #8c8ef6; */
  border-radius: 20px;
  padding: 20px;
  padding-top: 5px !important;
  padding-bottom: 0px !important;
  border-bottom: 1px solid lightgray;
  /* background-color: white; */
}
.split-item-image img {
  margin-left: 0 !important;
}
.split-wrap .control-dots .dot {
  background: #8c8ef6 !important;
}
.features-split .container-xs {
  max-width: 100% !important;
}
.approach .container-xs {
  max-width: 80% !important;
}
.darkheader h2 {
  color: rgb(41, 23, 23);
}
.tiles-item p {
  color: dimgrey !important;
  font-size: 16px;
}
.tiles-item h4 {
  color: rgb(41, 23, 23) !important;
}
.tiles-item img {
  height: 87px !important;
  width: 87px !important;
  border-radius: 42px;
}
.testimonial-item-footer {
  display: flex;
  justify-content: space-between;
}
.tiles-item .reviewUser p:first-letter {
  text-transform: uppercase;
}

section.testimonialPage {
  margin: 0;
  /* height: 100vh; */
  /* font-weight: 100; */
  /* background: radial-gradient(#ede4eb,#8c8ef6); */
  overflow-y: hidden;
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
}
.testimonialPage p {
  color: rgb(41, 23, 23);
}
.testimonialPage h3 {
  color: rgb(41, 23, 23);
}
.testimonialPage .section-inner {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.splitSection p {
  color: dimgrey;
}
.splitSection h3 {
  color: rgb(41, 23, 23);
}
.featureTiles p {
  color: dimgrey;
}
.featureTiles {
  padding-top: 35px;
}
.featureTiles h3 {
  color: rgb(41, 23, 23);
}
.testimonial-item-content p {
  color: white !important;
}
.hero-figure img {
  width: 450px;
  height: auto;
}
.reflection-container .reflection-content {
  width: 530px;
  height: 530px;
}
.hero-content p {
  font-size: 22px;
}
.homepagesection {
  display: flex;
  text-align: left;
  padding-top: 3.5rem !important;
  box-shadow: inset 0 0 0 1000px rgb(255 255 255 / 55%);
  background-image: url("./../../assets/images/backgrounds/u1_white.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.hero-figure {
  padding-top: 2rem;
}
.hero-content {
  text-align: left;
}
.ctaHomepage {
  display: flex;
  justify-content: flex-start;
}
.featureListings {
  display: flex !important;
  flex-wrap: nowrap !important;
}
.features-tiles-item-content h5 {
  color: rgb(41, 23, 23);
}
.split-wrap {
  border: 1px dotted #5658dd;
  box-shadow: inset 0 0 0 1000px rgb(255 255 255 / 51%);
  border-radius: 24px;
}
.coursesDetails .my-2 {
  width: 100%;
}
section.courses {
  background-color: white;
}
.coursesDetails h3.card-header {
  color: rgb(41, 23, 23) !important;
  font-size: 2rem;
}
/* .coursesDetails h3 {
  font-size: 16px;
  color: rgb(41, 23, 23) !important;
} */
.coursesDetailsHeader p {
  font-size: 20px;
}
.coursesDetailsHeader h3 {
  font-size: 2rem;
  color: rgb(41, 23, 23) !important;
}
.approachHeader h3 {
  color: rgb(41, 23, 23);
  font-size: 2rem;
}
.approachHeader p {
  font-size: 20px;
}
.approachWrapper h4 {
  color: rgb(41, 23, 23);
  text-align: center;
}
.approachWrapper p {
  color: #5658dd !important;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.coursesDetails h5.cardh3-title {
  color: #5658dd !important;
  margin-top: 0px;
}
.coursesDetails .card-text {
  color: rgb(41, 23, 23);
}
.coursesDetails h2 {
  color: rgb(41, 23, 23) !important;
  font-size: 1.5rem;
}
.faqIntro h3 {
  color: rgb(41, 23, 23) !important;
  font-size: 2rem;
}
.approach .my-2 {
  width: 100%;
}
.approach h3.card-header {
  color: rgb(41, 23, 23) !important;
  font-size: 2rem;
  text-align: center;
}
.approach h5.card-title {
  color: #5658dd !important;
  margin-top: 0px;
  text-align: center;
}
.approach .card-text {
  color: rgb(41, 23, 23);
  text-align: center;
}
.approachWrapper .my-2 {
  max-width: 400px;
  margin: 15px;
}
.approachWrapper .my-2 img {
  margin: auto;
}
.approachWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .featureListings {
    flex-wrap: wrap !important;
  }
  .hero-content p {
    font-size: 15px;
  }
  .testimonial-item-content p {
    font-size: 13px;
    line-height: 1.5;
  }
  .split-item {
    flex-wrap: wrap;
  }
  .featureListings img {
    width: 50px !important;
    height: 50px !important;
  }
  .homepagesection {
    flex-wrap: wrap;
  }
  .homepagesection .hero-figure {
    padding-top: 1.5rem;
  }
  .splitSection p {
    font-size: 18px;
  }
  .split-item-content p {
    font-size: 14px !important;
    text-align: left;
  }
  .split-item {
    padding-bottom: 1px !important;
  }
  .split-wrap {
    border: none !important;
  }
  .split-item .split-item-image {
    margin-bottom: 2px !important;
  }
  .split-item-image img {
    width: 200px !important;
    height: auto !important;
  }
  .carousel .control-dots {
    bottom: -16px !important;
  }
  .carousel.carousel-slider {
    padding-bottom: 22px;
  }
  .coursesDetails h2.card-header {
    font-size: 1.5rem;
    margin-bottom: 3px;
  }
  .coursesDetails h5.card-title {
    font-size: 15px;
  }
  .coursesDetails .card-body p {
    font-size: 13px;
  }
  .coursesDetailsHeader p {
    font-size: 16px;
  }
  .coursesDetails h3.card-header {
    color: rgb(41, 23, 23) !important;
    font-size: 1rem;
  }
  .coursesDetailsHeader h3 {
    font-size: 1.5rem;
    color: rgb(41, 23, 23) !important;
  }
  .approachHeader p {
    font-size: 16px;
  }
  .approachHeader h3 {
    font-size: 1.5rem;
  }
  .approachWrapper p {
    font-size: 16px;
  }
  /* .coursesDetails .card-body{
        padding: 3px;
    } */
  .approachWrapper h3.card-header {
    font-size: 1.5rem;
    margin-bottom: 3px;
  }
  .approach .container-xs {
    max-width: 92% !important;
  }
  .approachWrapper img {
    height: auto;
    width: 150px;
  }
  .approachWrapper h5.card-title {
    font-size: 15px;
  }
  .approachWrapper .card-body {
    padding: 3px;
  }
}
div:nth-child(2)
  > div.split-item-image.center-content-mobile.reveal-from-bottom.split-item-image-fill.featureTag.is-revealed {
  display: flex;
  justify-content: flex-end;
}
.moreCourses h3 {
  color: black;
  text-align: center;
}
.moreCourses a {
  color: blue !important;
}
.moreCourses .list-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.moreCourses .list-group-item {
  font-size: 18px;
  margin-bottom: 2px;
}

@media screen and (max-width: 1024px) {
  .moreCourses .list-group a {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .moreCourses .list-group {
    display: flex;
    flex-direction: column;
  }
  .moreCourses .list-group li {
    margin-bottom: 0px;
  }
  .testimonialPage p {
    color: rgb(41, 23, 23);
    font-size: 15px;
  }
}
@media screen and (max-width: 640px) {
  .hero-figure img {
    width: auto;
    height: 450px;
    margin-bottom: 20px;
  }
  .reflection-container .reflection-content {
    width: 400px;
    height: 400px;
  }
  .moreCourses .list-group {
    display: flex;
    flex-direction: column;
  }
  .faqIntro h3 {
    font-size: 1.5rem;
  }
  .moreCourses .list-group .list-group-item {
    height: 40px;
    padding: 7px;
  }
  .moreCourses .list-group li {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 480px) {
  .hero-figure img {
    width: auto;
    height: 340px;
    margin-bottom: 20px;
  }
  .reflection-container .reflection-content {
    width: 340px;
    height: 340px;
  }
  .hero-content2 .subheader {
    font-size: 16px;
    line-height: 30px;
  }
  .coursesDetails button {
    font-size: 14px;
  }
}
@media (min-width: 0px) and (max-width: 641px) {
  .split-item-image img {
    margin-left: auto !important;
  }
  div:nth-child(2)
    > div.split-item-image.center-content-mobile.reveal-from-bottom.split-item-image-fill.featureTag.is-revealed {
    display: flex;
    justify-content: center;
  }
}
