.calendarWrapper{
    font-size: 14px;
    .calendar{
        display: flex;
        flex-wrap: wrap;
    }
    .calendar-day{
        padding: 5px;
    }
    .today{
        .calendar-day-header{
            color: white !important;
            font-weight: bolder;
            background-color: black !important;
        }
    }
}