.calendarWrapper{
    font-size: 14px;
    .today{
        .calendar-day-header{
            color: white !important;
            font-weight: bolder;
            background-color: black !important;
        }
    }
}